.button {
  position: fixed;

  left: 50%;
  transform: translateX(110px);

  bottom: 100px;

  width: 64px;
  height: 64px;

  border: none;
  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #6c63ff
  );

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 8px 24px rgba(108, 99, 255, 0.4);

  z-index: 999;
}