body {
  margin: 0;
  background: #ececec;
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.appContainer {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;

  background: #f8f7ff;

  position: relative;

  overflow: hidden;
}
