body {
  margin: 0;
  padding: 0;

  background: #f5f5f5;

  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;

  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 430px; /* iPhone Pro Max程度 */

  min-height: 100vh;

  background: #f8f8fc;

  padding: 16px;

  box-sizing: border-box;

  position: relative;
}