body {
  margin: 0;
  background: #ececec;
  font-family: sans-serif;
}

#root{
  display:flex;
  justify-content:center;
}

.appContainer{

  width:100%;
  max-width:430px;
  min-height:100vh;

  background:#F8F7FF;

  position:relative;

  overflow:hidden;
}